---
title: false
styles: true
---
$backgroundColour: #22272E !default;
$linkColour: #b8291a !default;
$bodyColour: lightgray !default;
$headingColour: white !default;
$hoverColour: #fec71f !default;

@import "alembic";

.footer {
	background: #0D0F11;
}

img.profile {
	border-radius: 50%;
	width: 30%;
	float: left;
    margin-right: 20px;
}

.logo img {
    max-height: 4rem;
}