---
title: false
styles: true
---
$backgroundColour: #22272E !default;
$captionColour: #dcac1f !default;
$linkColour: #a8adac !default;
$bodyColour: lightgray !default;
$headingColour: white !default;
$hoverColour: #fec71f !default;

@import "alembic";

.footer {
	background: #0D0F11;
	color: $bodyColour;
	
	a {
    color: $bodyColour;
    &:hover {
      color: $backgroundColour;
    }
  }
}

.small {
	color: $bodyColour;
}

img.profile {
	border-radius: 50%;
	width: 30%;
	float: left;
    margin-right: 20px;
}

.logo img {
    max-height: 4rem;
}

a:focus, a:hover:focus, button:focus, button:hover:focus, .button:focus, .button:hover:focus, input:focus, input:hover:focus, textarea:focus, textarea:hover:focus, select:focus, select:hover:focus
{
	outline-color: $hoverColour;
}
